<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>


<div id="about-us">
    <label>
<textarea rows="20" cols="100" readonly>
Viva SPA Chain has been founded in 2005 and already 12 years successfully  defends its name with quality of the services and professional attitude to the clients. The centres are situated in the towns of Sofia, Velingrad, Bansko, Sunny Beach and Saint Vlas. In our centres there are Turkish Baths, Saunas, Steam Baths, Indoor swimming pools, cosmetic and hairdressers saloons, Russian Baths, Salt Saunas, Vitamin Bars, VIP SPA Apartments, romantic jacuzzi for two, solariums. Recently in Viva SPA Velingrad was opened new balneological centre.

The list of Viva SPA is with more than 150 different spa treatments and rituals, and their number increases every year.

Viva SPA is nominated with many rewards, among which are:

SPA CHAIN 2010, SPA CHAIN 2011, SPA CENTRE 2011, BEST INTERIOR DESIGN FOR 2010, BEST SPA MANAGER. SPA CHAIN OF THE YEAR AT THE BALKAN SPA AWARDS - SKOPJE 2015.  DURING THE WORLD'S SPA NOMINATIONS IN LONDON IN 2013 VIVA SPA TOOK SECOND PRIZE IN CATEGORY DAY SPA FOR EUROPE.

TODAY VIVA SPA IS NOMINATED  IN THE WORLD'S SPA NOMINATIONS IN CAPETOWN, SOUTH AFRICA.  IN AUGUST 2015 VIVA SPA TOOK THE PRIZE FOR BEST SPA CHAIN OF THE YEAR.

Enjoy a gorgeous Asian massage or deep cleansing of the body  in the Turkish bath!!!

Viva SPA is the place where everybody comes back.
</textarea>
    </label>
</div>

<th:block th:include="~{fragments/footer}"/>
</body>
</html>