<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>

<body style="background-image: url(https://media.gettyimages.com/photos/indoor-plant-on-white-floor-with-empty-concrete-wall-background-and-picture-id899304854?b=1&k=6&m=899304854&s=612x612&w=0&h=jY3a9EytlBmjBhJWzc0w6jZ9PNzZSDBKZQ1PaB8lSjg=);
background-repeat: no-repeat;
    background-size: cover;">
<div style="text-align: center; margin-top: 60px">
    <img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/136102043/original/b171c98c011cd1fc6ea8342e6edc00f37b2809bd/fix-prestashop-store-not-working.jpg"
         alt="Oops something got wrong!" style="width: 45%; height: 65vh;">

    <div style="margin-top: 40px">
        <a href="/home" class="btn btn-default">Go back home</a>
    </div>
</div>

</body>
</html>