<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/user-navbar}"/>
<section class="view-section">
    <h2>Sorry, we could not find an offer for you...</h2>
    <img class="sorry-img" src="img/sorry.jpg" alt="Sorry image">

    <div id="offerManager">
        <div id="regOffer">
            <a href="/offers" class="button">Offers</a>
        </div>
        <div id="findOffer">
            <a href="/offer-find" class="button" id="find-offer-button">Back</a>
        </div>
    </div>
</section>

<th:block th:include="~{fragments/footer}"/>
</body>
</html>